<ion-view view-title="Home">
  <ion-content class="padding">
    <section>
      <div id="map">

      </div>
    </section>
    <section class="marginTop" ng-show="boxItem">
    	<div class="container">
    		<div class="text-right">
				<button ng-click="fechaItem()" class="button button-small button-assertive">
					Fechar
				</button>
    		</div>
			<div class="list card" ng-repeat="item in itens">

			  <div class="item item-avatar">
			  	<img src="http://cswsistemas.com/propulsion/admin/images/{{item.imagem}}">
			    <h2>{{item.nome}}</h2>
			    <p>R$ {{item.valor}}</p>
			  </div>

			  <div class="item item-body">
			    <p>{{item.descricao}}</p>
			  </div>

			</div>
    	</div>
    </section>
  </ion-content>
</ion-view>
