<ion-view view-title="Login">
  <ion-content class="padding">

    <section>
      <div class="logo">
        <img src="http://cswsistemas.com/propulsion/app/www/img/logo.png">
      </div>
    </section>

    <section>
      <div class="container">
        <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="user.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.senha">
          </label>
        </div>
        <button class="button button-block button-success" ng-click="login()">Login</button>
      </div>
    </section>
  </ion-content>
</ion-view>