﻿<ion-content class="background-splash" scroll="true">
  <div class="ionic-body">
      <div class="bar bar-header bar-assertive">
        <div class="h1 title">Empresas/Serviços</div>
        <button class="button button-clear button-positive" ng-click="logout()">
          <i class="fa fa-power-off colorFFF"></i> <span class="colorFFF">Sair</span>
        </button>
      </div>

      <div class="content has-header padding">

          <section>
            <div id="map">

            </div>
          </section>

          <section class="marginTop" ng-show="boxPatrocionadores">
            
          <!--           
          <div class="list">
              <select ui-select2 ng-change="selectEmpresaDrop()" ng-model="selectDrop">
                <option value="">Selecione</option>
              <option value="{{item.id}}" ng-repeat="item in empresas">
                  {{item.nome}}
                </option>
              </select>
          </div> 
          -->
            

            <div class="list card text-center" style="border: none;box-shadow: none;">

              <div class="sliderFundoHome" sis-owl-carousel>
                  <div ng-click="sliderSelect(item)" class="item" ng-repeat="item in patrocionadores track by $index">
                      <div sis-owl-carousel-item 
                          class="imagemPatrocionador" 

                          style="background: url({{item.imagem}}) 
                          50% 50% no-repeat;">
                      </div>
                  </div>
              </div>

            </div> 
            

          </section>

          <section class="marginTop" ng-show="boxItem">
              <div class="container">
                  <div class="text-right">
                      <button ng-click="fechaItem()" class="button button-small button-assertive">
                          Fechar
                      </button>
                  </div>
                  <div>
                    <br/>
                    <p><b>Endereço: </b>{{enderecoEmpresa}}</p>
                    <p><b>Telefone: </b>{{telefoneEmpresa}}</p>
                  </div>
                  <div class="list card" ng-repeat="item in itens">
                    <div class="item item-avatar">
                      <img src="{{item.imagem}}">
                      <h2>{{item.nome}}</h2>
                      <p>R$ {{item.valor}}</p>
                    </div>

                    <div class="item item-body">
                      <p>{{item.descricao}}</p>
                    </div>

                  </div>
              </div>
          </section>


      </div>

  </div>
</ion-content>
