﻿#map{
    width: 100%;
    height: 250px;
    background: #ccc;
}

.owl-controls {
    display: none !important;
}

.marginTop{
    margin-top: 20px;
}

.item.item-avatar {
    padding: 30px 15px 30px 100px;
}

.item.item-avatar img {
    max-width: 70px;
    max-height: 70px;
}

.list.card {
    margin: 0 0 10px 0;
}

.logo {
    margin: 20px 0;
    text-align: center;
    background: #FFF;
    padding: 20px 0;
}

.logo img{
    width: 200px;
}

.colorFFF{
    color: #fff;
}

.content.has-header.padding {
    overflow: scroll !important;
    height: 100%;
    padding-bottom: 88px;
}

.loader {
    position: absolute;
    z-index: 9;
    /* background: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50% 0;
}

body {
    background: #fff;
}

.imagemPatrocionador {
    height: 200px;
    background-size: contain !important;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

select{
        width: 100%;
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
}

.no-search .select2-search {
    display:none
}

.listSelect2 {
    height: 100px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 5px;
}