﻿<ion-content scroll="true">

<div class="ionic-body" style="background: #1b2e52;height: 100%;">
    <div class="bar bar-header bar-dark" ng-show="boxCadastro">
      <button class="button button-icon" ng-click="showBoxLogin()">
        <i class="ion-arrow-left-a colorFFF"></i> <span class="colorFFF">Voltar</span>
      </button>
      <div class="h1 title">Cadastro</div>
    </div>
    <div class="content has-header">
      <div ng-show="boxLogin">
        <div class="text-center logo">
          <img src="content/images/logo.png">
        </div>

        <div class="list">
          <label class="item item-input">
            <input type="text" ng-model="model.email" placeholder="E-mail">
          </label>
          <label class="item item-input">
            <input type="password" ng-model="model.senha" placeholder="Senha">
          </label>
          <label>
            <button class="button button-block button-dark" ng-click="login()">Entrar</button>
          </label>
          <label>
            <button class="button button-block button-dark" ng-click="showBoxInsert()">Cadastre-se</button>
          </label>
        </div>
        <div class="padding"></div>
      </div>
      <div ng-show="boxCadastro">
        <div class="list">
          <form name="frmInsert">
            <label class="item item-input">
              <input type="text" ng-model="user.nome" placeholder="Nome" required>
            </label>
            <label class="item item-input">
              <input type="text" ng-model="user.email" placeholder="E-mail" required>
            </label>
            <label class="item item-input">
              <input type="password" ng-model="user.senha" placeholder="Senha" required>
            </label>
            <label class="item">
              <button class="button button-block button-dark" ng-click="insert()">Entrar</button>
            </label>
          </form>
        </div>
        <div class="padding"></div>
      </div>
    </div>
  </div>

</ion-content>